/* 'black': {
    '50': '#E7F3FE',
    '100': '#BBDFFC',
    '200': '#8FCAFA',
    '300': '#2798F5',
    '400': '#0B8BF4',
    '500': '#0972C8',
    '600': '#07599C',
    '700': '#054070',
    '800': '#032744',
    '900': '#010E18',
    '950': '#000000',
}, */

body{
    background-color: #D9D9D9 ;
    color: #E7F3FE;
    margin: 0px;
}
hr{
	margin: 0px;
}
#main-block{
    margin: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px ;
    position: absolute;
    display: flex;
}
#first-block{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 22%;
    height: 100%;
    background-color: #032744;
    border-right: solid 2px #010E18;
    font-size: 20px;
    overflow: hidden;
}
#img-block{
    display: grid;
    place-items: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
img{
	align-items: center;
	width: 210px ;
	height: 210px;
	border-radius: 50%;
	object-fit: cover;
}
#first-text-block{
	overflow: hidden;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#titles-first-block{
	margin: 0;
	text-align: center;
}
#name{
	position: relative;
	margin: 2px;
	text-align: center;
	font-size: 10px;	
}
#description{
	position: relative;
	bottom: 10px;
	margin: 2px;
	text-align: center;
	font-size: 10px;
}
#first-titles{
	text-align: center;
}
#second-block{
    margin: 0px;
    width: 39%;
    height: 100%;
    border-right: solid 2px  #010E18;
    color: #010E18;
}
#third-block{
    margin: 0px;
    width: 39%;
    height: 100%;
    color: #010E18;
    text-align: center;
}
.inf-personal{
	font-size: 20px;
}
